main{
    border: 1px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "figure section";
}
img{
    border-radius: 100px;
    width: 110px;
    height: 100px;
}
figure{
    grid-area: figure;
}
section{
    grid-area: section;
    justify-content: center;
}


